* {
    box-sizing: border-box;
  }
  
html {
  scroll-behavior: smooth;
}

/* FONT STYLING */

body {
  font-family: "tenon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #202124;
  background-color: #F9F7F3;
}

strong {
  font-family: "tenon", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* AREA VARIABLE
h1 {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700, "INKT" 0;
  padding-top: 0;
  font-size: 2.5rem;
  margin-top: 0;
}

h2 {
  font-family: "area-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
  padding-top: 0;
  font-size: 1.125rem;
  color: #202124;
  max-width: 50rem;
  margin-top: 0;
} */

  h1 {
  font-family: "degular-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 0;
  font-size: 2.5rem;
  margin-top: 0;
} 

h2 {
  font-family: "degular-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 0;
  font-size: 1.125rem;
  color: #202124;
  max-width: 50rem;
  margin-top: 0;
} 

.h2-lg {
  font-family: "degular-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 0;
  font-size: 1.75rem;
  /* color: #807f7dca; */
  color: #202124;
  max-width: 50rem;
  margin-top: 0;
}

h3 {
  font-family: "degular-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #202124;
  max-width: 60rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;

}

p {
  font-family: "tenon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #202124;
  font-size: 1rem;
  max-width: 40rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.quote {
  font-family: "tenon", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #202124;
  font-size: 1.3rem;
  max-width: 40rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  border: 1px solid #1B48E7;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
}

.info-grid p {
  margin-bottom: 0;
}

a {
  color: #1B48E7;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

span.blue {
  color: #1B48E7;
}

.skill-tag {
  font-family: "tenon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  color: #1B48E7;
  border: 1px solid #1B48E7;
  border-radius: 30px;
  padding: 4px 8px;
  width: fit-content;
  margin: 0 0.25rem 0.5rem 0;
  display: inline-block;
}

::selection {
  background-color: #202124;
  color: white;
}

/* non full width content */
.section {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.works-container {
  position: relative;
}

.works-container a:hover img,
.works-container a:focus img {
  filter: brightness(0.75);
}

.works-container {
  max-width: 100%;
}

.works-container a {
  color: #202124;
  text-decoration: none;
}

.works-container img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.75rem;
}

.works-container a:hover, .works-container a:focus {
  text-decoration: none;
}

.case-container img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

/* horizontal rule */
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* navigation bar */
.nav {
  background-color: #F9F7F3;
  overflow: hidden;
  margin: 0;
  padding: 0.5rem;
}

.nav-left {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: flex-end;
}

.nav-right a {
  font-weight: 400;
  float: right;
}

.nav-left a {
  font-weight: 500;
  float: left;
}

.nav a {
  font-family: "degular-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #202124;
  padding: 0.65rem 1.25rem;
  text-decoration: none;
  font-size: larger;
}

.nav a:hover,
.nav a:focus {
  text-decoration: underline;
}

figure {
  margin: 0.5rem 0 0 0;
}

figcaption {
  font-family: "tenon", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #807f7d;
  font-size: 0.9rem;
  margin-top: -0.75rem;
  margin-bottom: 1.5rem;
  max-width: 55rem;
}

/* FOOTER related things */
.footer {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
	margin-bottom: 1rem;
}

.footer-p {
	text-align: center;
	padding: 0.25rem;
  max-width: 100%;
  color: #807f7dca;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}